<main class="container">
  <h5 class="p-5">マイページ</h5>
  <form action="" method="post">
    <div class="row">
    <table class="table table-bordered table-condensed custom-table">
      <thead>
        <strong class="information-link">登録情報　</strong>
        <%= link_to "編集する", edit_customer_path, class: "btn btn-success" %>
        <tr>
          <td class="colx-xs-2" style="background-color: #f0f0f0;">氏名</td>
          <td><%= current_customer.last_name %>&nbsp;<%= current_customer.first_name %></td>
        </tr>
        <tr>
          <td class="colx-xs-2" style="background-color: #f0f0f0;">カナ</td>
          <td><%= current_customer.last_name_kana %>&nbsp;<%= current_customer.first_name_kana %></td>
        </tr>
        <tr>
          <td class="colx-xs-2" style="background-color: #f0f0f0;">郵便番号</td>
          <td><%= current_customer.postal_code %></td>
        </tr>
        <tr>
          <td class="colx-xs-2" style="background-color: #f0f0f0;">住所</td>
          <td><%= current_customer.address %></td>
        </tr>
        <tr>
          <td class="colx-xs-2" style="background-color: #f0f0f0;">電話番号</td>
          <td><%= current_customer.telephone_number %></td>
        </tr>
        <tr>
          <td class="colx-xs-2" style="background-color: #f0f0f0;">メールアドレス号</td>
          <td><%= current_customer.email %></td>
        </tr>
        
      </thead>
    </table>
     <table class="table-condensed">
          <tr>
            <th class="shipping-link">配送先　　</th>
            <th><%= link_to "一覧を見る", customer_addresses_path(current_customer), class: "btn btn-info" %></th>

          </tr></brs>
        <tbody>
          <tr>
            <th class="shipping-link">注文履歴　　</th>
            <th><%= link_to "一覧を見る", customer_orders_path(current_customer), class: "btn btn-info" %></th>
          </tr>
          <tr>
            <th><%= link_to '退会する', quit_page_customer_path, method: :get %></th>      

          </tr>
        </tbody>
      </table>  
  
  </div>
</div>
