<main class="container">
  <div class="row">
    <div class="col-12">
        <h5 class="p-5"><strong>注文情報入力</strong></h5>
      <%= form_with model: @order, url: {controller: 'public/orders', action: 'confirm' },  local:true do |f| %>
      <h4 class="h4 mt-2"><b>支払い方法</b></h4>
      <%= f.radio_button :payment_method, 0, checked: true, class: "ml-4" %>クレジットカード<br>
      <%= f.radio_button :payment_method, 1, class: "ml-4"  %>銀行振込
      <h4 class="h4 mt-2"><b>お届け先</b></h4>
      <%= f.radio_button :address_option, 0, checked: true, class: "ml-4"  %>ご自身の住所<br>
      <div class="ml-5"><%= "〒#{current_customer.postal_code} #{current_customer.address}" %></div>
      <div class="ml-5"><%= current_customer.last_name + current_customer.first_name  %></div>
      <% if current_customer.addresses.empty? %>
      <% else %>
        <%= f.radio_button :address_option, 1, class: "ml-4 mt-3"  %>登録済み住所から選択<br>
        <div class="ml-5 "><%= f.collection_select(:registration_address, @addresses, :id, :address_display,
                                                  {}, {class: "form-control"}) %></div>
      <% end %>
      <%= f.radio_button :address_option, 2, class: "ml-4 mt-3"  %>新しいお届け先<br>
      <table class="ml-5">
        <tr>
          <td>郵便番号（ハイフン無し）</td>
          <td><%= f.text_field :postal_code, class: "form-control", size: 40, id: "customer_postal_code" %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address, class: "form-control", size: 40, id: "customer_address" %></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name, class: "form-control", size: 40 %></td>
        </tr>
      </table>
      <div class="text-center mt-3"><%= f.submit "確認画面へ進む", class: "btn btn-primary" %></div>
      <% end %>
    </div>
  </div>
</div>