<main class="container">
  <div class="row">
    <div class="col-12">

      <%= form_with(model: @order, url: orders_path, method: :post) do |f| %>
        <h5 class="p-5"><strong>注文情報入力</strong></h5>
        <div class="col-4">
          <strong>支払方法</strong>
        </div>

        <div class="col-4 ml-3">
          <%= f.radio_button :payment_method, "credit_card" %>
          <%= f.label :payment_method_credit_card, "クレジットカード" %><br>
          <%= f.radio_button :payment_method, "transfer" %>
          <%= f.label :payment_method_transfer, "銀行振込" %>
        </div>

        <h5 class="p-5"><strong>お届け先</strong></h5>
        <div class="col-4 ml-3">
          <%= f.radio_button :address, "customer_address" %>
          <%= f.label :address, "ご自身の住所" %><br>
          <p class="text-right" style="white-space: nowrap; margin-left: 30px;">
            〒<%= current_customer.postal_code %><%= current_customer.address %><%= current_customer.last_name %>&nbsp;<%= current_customer.first_name %>
          </p>

          <%= f.radio_button :address, "registered_address" %>
          <%= f.label :address, "登録住所から選択" %><br>
          <p class="text-right" style="white-space: nowrap; margin-left: 30px;">
            <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
          </p>

          <%= f.radio_button :address, "new_address" %>
          <%= f.label :address, "新しいお届け先" %>

<div class="form-group row">
  <div class="col-md-12 d-flex justify-content-between align-items-center" style="font-size: smaller; font-weight: bold; margin-top: 8px;">
    <%= f.label :"郵便番号(ハイフンなし)", class: "control-label" %>
    <div class="col-md-6">
      <%= f.text_field :postal_code, class: "form-control", placeholder: "郵便番号(ハイフンなし)", required: true, style: "width: 150%;" %>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-12 d-flex justify-content-between align-items-center" style="font-size: smaller; font-weight: bold; margin-top: 8px;">
    <%= f.label :住所, class: "control-label" %>
    <div class="col-md-6">
      <%= f.text_field :address, class: "form-control", placeholder: "住所", required: true, style: "width: 250%;" %>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-md-12 d-flex justify-content-between align-items-center" style="font-size: smaller; font-weight: bold; margin-top: 8px;">
    <%= f.label :宛名, class: "control-label" %>
    <div class="col-md-6">
      <%= f.text_field :name, class: "form-control", placeholder: "宛名", required: true, style: "width: 150%;" %>
    </div>
  </div>
</div>

</div>

        <div class="col-12 text-center">
          <%= f.submit "確認画面へ進む", class: "btn btn-info" %>
        </div>
      <% end %>

    </div>
  </div>
</main>
